.wrapper {
    height: 100vh; /*vieport widht*/
    width: 94.3%;
    background: url('./assets/images/Blow.png');
    background-size: cover;
    margin-left: 5.7%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background: red;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    font-weight: 900;
    margin: 3.49% 0 0 5.5%;
}

.navbar{
    width: 480px;
    margin: 3.35% 2% 0 0;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar ul li a{
    display: flex;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}